.animation-canvas {
    width: 50vw;
    height: 100%;
}


.card-bottom {
    padding-bottom: 0;
}

.card-footer {
    padding-top: 0;
}

.card-footer button {
    margin-right: 0.2vw;
}

.card-header {
    display: flex;
}

.card-header button {
    margin-right: 0.2vw;
}

.card-header-sm {
    flex: 1.5;
    font-weight: 100;
    font-size: 60%;
    line-height: 3.5vh;
}

.card-header-med {
    flex: 1.7;
}

.card-header-lg {
    flex: 8.5;
}

footer {
    width: 100vw;
    height: 2vh;
    background-color: #111;
    color: #e8e8e8;
    text-align: center;
    a {
        text-decoration: none;
        color: #ff0000;
    }
}

html {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #000;
}

html::-webkit-scrollbar {
    display: none;
}

.main-container {
    display: flex;
    background-color: #000;
    width: 100vw;
    height: 98vh;
    color: #fff;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
}

.main-content {
    width: 50vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

.main-content-nav {
    position: sticky;
    top: 0;
    background-color: #440000;
    z-index: 3;
}

.main-landing {
    position: relative;
    display: flex;
    flex-direction: column;
}

.member-row {
    width: 100vw;
    gap: 0.25vw;
    display: flex;
}

.member-card {
    width: 25vw;
    margin-bottom: 0.5vw;
    color: #fff;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.25vw;
    overflow: hidden;
}

.member-tag-link {
    color: #ff0000;
    text-decoration: none;
    font-weight: 100;
    font-size: 50%;
}

.metadata-activity-container {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 50vw;
}

.metadata-activity-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.metadata-activity-map {
    width: 100vw;
}

.metadata-clan {
    position: absolute;
    display: flex;
    width: 100%;
    margin: 1%;
    a {
        color: #fff;
        text-decoration: none;
        font-weight: 100;
    }
    div {
        width: 8vw
    }
}

@media (min-width: 801px) {
    .metadata-clan {
        top: 0;
    }
}

@media (max-width: 800px) {
    .animation-canvas {
        width: 100vw;
        height: 49vh;
    }

    .card-header-sm {
        flex: 2;
    }

    .card-header-med {
        flex: 3.25;
    }

    .card-header i {
        font-size: 3.75vw;
    }

    .main-container {
        flex-direction: column;
        font-size: 90%;
    }

    .main-content {
        width: 100vw;
    }

    .main-landing {
        width: 100%;
        height: 20vh;
        position: relative;
    }

    .metadata-activity-container {
        width: 100vw;
    }

    .metadata-activity-map {
        width: 200vw;
    }

    .metadata-clan {
        position: absolute;
        bottom:0;
        flex-direction: column;
        width: 100%;
        gap: 1vh;
        div {
            width: 100%;
        }
    }

    .member-row {
        flex-direction: column;
    }

    .member-card {
        width: 96vw;
        margin: auto;
        margin-bottom: 2vh;
        font-size: 5vw;
    }
  }