.clan-information-wrapper {
    margin: auto;
    padding-left: 2vw;
    display: flex;
    color: #fff;
    background-color: #000;
    font-weight: 600;
    font-family:'Courier New', Courier, monospace;
}

.clan-information-wrapper a {
    cursor: pointer;
}

.clan-information-col-big {
    flex: 10;
}

.clan-information-col-med {
    flex: 3;
}

.clan-information-col-sm{
    flex: 1;
}

.custom-ratio {
    --bs-aspect-ratio: 200%;
}

.dragon-section-bottom {
    background-color: #000;
}

.dragon-section-bottom img {
    display: block;
    width: 20vw;
    margin: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dragon-section-top {
    background-color: #000;
}

.dragon-section-top img {
    display: block;
    width: 90vw;
    margin: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

footer {
    width: 100vw;
    background-color: #222;
    color: #e8e8e8;
    text-align: center;
    padding: 1vh;
}

footer a {
    text-decoration: none;
    color: #ff0000;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #000;
}

.link-section {
    width: max-content;
    margin: auto;
    display: flex;
    margin: auto;
}

.link-section-wrapper {
    background-color: #000;
    padding-top: 1vh;
    padding-bottom: 1vh;
}


.member-list {
    width: 96vw;
    margin: auto;
    border: 1px solid #700000;
}

.member-list-wrapper {
    background-color: #000;
    font-weight: 600;
    padding: 1vw;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
}

.member-list-wrapper caption {
    color: #eee;
}

.tag-link {
    font-size: 75%;
    font-weight: 100;
    color: #ff0000;
}

td button {
    margin-right: 0.25vw;
}

.responsive-div-med {
    width: 10vw;
}

.responsive-div-short {
    width: 4vw;
}

.responsive-div-long {
    width: 50vw;
}

@media (max-width: 800px) {
    .clan-information-wrapper {
      flex-direction: column;
    }

    .clan-information-col-big {
        padding-top: 2vh;
    }

    .clan-information-col-med {
        padding-top: 2vh;
    }

    .clan-information-col-sm {
        padding-top: 2vh;
    }

    .responsive-div-med {
        width: 50vw;
    }
    
    .responsive-div-short {
        width: 25vw;
    }
    
    .responsive-div-long {
        width: 90vw;
    }

    td button {
        margin-right: 0.5vw;
        margin-bottom: 0.5vw;
    }    
    
  }